<div class="contact">

    <div class="content">
        <span class="title">Contactez-moi</span>
        <span class="speach">Vous pouvez me contacter par le moyen qui vous sied le mieux parmis ceux indiqués ci-après...</span>
        <span>Développons votre projet ensemble, dès maintenant .</span>

        <div class="contact-info">
            <div class="personal-id">
                <div class="tel">

                    <div class="img-bloc">
                        <fa-icon [icon]="faPhone"></fa-icon>
                    </div>

                    <div class="text-bloc">
                        <span class="titles">Téléphone</span>
                        <span class="text">+33 783189171</span>
                    </div>
                    
                </div>
    
                <div class="mail">
                    <div class="img-bloc">
                        <fa-icon [icon]="faEnvelope"></fa-icon>
                    </div>
                    <div class="text-bloc">
                        <span class="titles">Email</span>
                        <span class="text">manduel21@gmail.com</span>
                    </div>
                </div>
            </div>
    
            <form [formGroup]="contactForm" (ngSubmit)="onSubmitContactForm()">
                <div class="name-email">
                    <div class="name-bloc">
                        <input formControlName="name" id="name-input" type="text" placeholder="Nom">
                        <label class="label-id"for="name">Nom</label>
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">Renseignez votre nom</div>
                        </div>
                    </div>
                    <div class="email-bloc">
                        <input formControlName="email" id="email-input" type="text" placeholder="Email">
                        <label class="label-id" for="email">Email</label>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Renseignez l'addresse mail</div>
                            <div *ngIf="f.email.errors.email">Addresse mail invalide</div>
                        </div>
                    </div>
                </div>

                <div class="objet-bloc">
                    <input formControlName="subject" id="objet-input" type="text" placeholder="Objet">
                    <label class="label-id" for="objet-input">Objet</label>
                </div>

                <div class="message-bloc">
                    <textarea formControlName="message" id="message-area" type="text" placeholder="Message"></textarea>
                    <label class="label-id" for="message-area">Message</label>
                    <div *ngIf="submitted && f.message.errors" class="invalid-feedback">
                        <div *ngIf="f.message.errors.required">Message absent</div>
                        <div *ngIf="f.message.errors.minlength">Votre message est trop court </div>
                    </div>
                </div>

                <button type="submit" >Envoyer <fa-icon [icon]="faPaperPlane"></fa-icon></button>
            </form>
    
        </div>
    </div>
    <p-toast position="top-right"></p-toast> 

</div>