<div class="about">
    <div class="content">
        <span class="title">À Propos</span>
        <div class="text-video">
            <div class="text">
                <span>
                    Je suis un développeur web full stack js. Je conçois et développe des sites web en m'outillant de ma créativité sans jamais faire de compromis sur la qualité. Mon expertise comprend: le conseil stratégique, le maquettage des interfaces utlisateurs, le développement front-end et back-end, l'optimisation seo on page et la mise en production.
                </span>
 
                <span>
                    Je suis autonôme, travailleur et passionné. J'aime me frotter à de nouveaux défis. N'hésitez donc pas à me contacter afin qu'on atteigne ensemble vos objectifs. 
                </span>
            </div>
    
<!--

            <div class="video">

               <vg-player>
            
                    <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls [poster]="posterLink">
                        <source src="https://drive.google.com/file/d/1OToGQyGPLUGbatjiUbrybyoXH_-DfVsp/preview" type="video/mp4">
                    </video>

                </vg-player>

            </div>
-->

        </div>


        <div class="actions">

            <a href="https://drive.google.com/file/d/1270LhSlQntvSgBWDzf0rL0qNXKpya-lb/view?usp=sharing" aria-label="Cv" rel="noopener" target="_blank"><button>Téléchargez cv<fa-icon [icon]=faDownload></fa-icon></button></a>
            
            <button routerLink="/contact">Contactez - moi</button>
        </div>

        <div class="profil">

            <div class="profil-bloc">

                <div class="profil-nav">
                    <span class="profil-header active-header" (click) = "activeContent(0)">Compétences</span>
                    <span class="profil-header" (click) = "activeContent(1)">Formation</span>
                </div>

                <div class="profil-content">

                    <div class=" profil-info technos ">

                        <div class="skills">
                            <span>Développement Front-End</span>
                            <div class="images-logo">
                                
                                <div>
                                    <img src="../../../assets/img/logos/angular_logo.png" alt="angular logo">
                                    <span>Angular</span>
                                </div>

                                <div>
                                    <img src="../../../assets/img/logos/bootstrap_logo.png" alt="bootstrap logo">
                                    <span>Bootstrap</span>
                                </div>

                                <div>
                                    <img src="../../../assets/img/logos/scss_logo.png" alt="Scss logo">
                                    <span>Saas</span>
                                </div>

                                <div>
                                    <img src="../../../assets/img/logos/primeng_logo.png" alt="Scss logo">
                                    <span>Prime NG</span>
                                </div>
                            </div>
                        </div>
    
                        <div class="skills">
                            <span>Développement Back-End</span>
                            <div class="images-logo">
                                <div>
                                    <img src="../../../assets/img/logos/node_logo.png" alt="Node js logo">
                                    <span>Node js</span>
                                 </div>

                                 <div>
                                    <img src="../../../assets/img/logos/express_logo.png" alt="Express js logo">
                                    <span>Express js</span>
                                 </div>

                                 <div>
                                    <img src="../../../assets/img/logos/nodemailer_logo.png" alt="Nodemailer logo">
                                    <span>Nodemailer</span>
                                 </div>
                            </div>
                        </div>

                        <div class="skills">
                            <span>Base de donées</span>
                            <div class="images-logo">
                                <div>
                                    <img src="../../../assets/img/logos/mongodb_logo.png" alt="MongoDB logo">
                                    <span>MongoDB</span>
                                 </div>

                                 <div>
                                    <img src="../../../assets/img/logos/postgres_logo.png" alt="Postgresql js logo">
                                    <span>PostgreSQL</span>
                                 </div>
                            </div>
                        </div>


                    </div>               

                    <div class="profil-info formation">

                        <div class="formation-element">
                            <span><fa-icon [icon]=faCalendarAlt></fa-icon><span>2016 - 2019</span></span>
                            <span class="formation-title">Cycle d'Ingénierie Informatique (3iL)</span>
                            <span class="formation-description">Conception et développement de système d’information</span>
                        </div>

                        <div class="formation-element">
                            <span><fa-icon [icon]=faCalendarAlt></fa-icon><span>2014 - 2016</span></span>
                            <span class="formation-title">Classes préparatoires (Prépa 3iL)</span>
                            <span class="formation-description">Informatique, mathématiques, physiques</span>
                        </div>

                        <div class="formation-element">
                            <span class="formation-title">Langues</span>
                            <span class="langue">Français ( langue maternelle )</span>
                            <span class="langue">Anglais ( technique )</span>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
