$colorBlue: #00011e ;
$colorRed: #FF3100;
$background: #f3f3f3;


.about{
    margin: 0 0 0 300px;
    width: calc(100vw - 300px);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: $background;
    color: $colorBlue;

    .content{
        width: 100%;
        margin: 0 55px;
        height: 100%;
        display: flex;
        flex-direction: column;
    
        .title{
            font-size: 1.9em;
            font-weight: bold;
            padding: 30px 0 10px 0;
            position: relative;
        }
    
        .title::before{
            content: "";
            position: absolute;
            width: 3em;
            height: 1px;
            bottom:0;
            border-bottom: 4px solid $colorRed;
        }

        .text-video{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin: 50px 0 20px 0;

            .text{
                display: flex;
                flex-direction: column;
                width: 100%;
//                width: 55%;
                font-size: 1.1em;
                margin-right: 30px;

                span{
                    text-align: justify;
                }
                span:nth-child(2){
                    margin-top: 5px;
                }
            }

            .video{
                width: 400px;
                height: 100%;
                border-radius: 10px;

                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                
                vg-player{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;

                }
            }
        }

        .actions{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px 0 20px 0;

            button{
                padding: 6px 15px;
                border-radius: 100px;
                margin: 0 20px 0 20px;
                border: none;
                cursor: pointer;
                font-size: 1em;
                background-color: white;
                box-shadow: 4px 5px 6px -1px #363636;

                fa-icon{
                    margin-left: 5px;
                }
            }

            button:hover{
                color: $colorRed;
                background-color: $colorBlue ;
                transition: all 0.5s ease 0s;
            }
        }

        .profil{
            display: flex;
            width: 100%;
            margin: 70px 0;
            justify-content: space-between;
            flex-direction: column;


            .profil-bloc{
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                .profil-nav{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    
                    .profil-header{
                        padding: 5px 10px;
                        margin: 0 5px 10px 5px;
                        border-radius: 100px;
                        background-color:  #129abc2f;
                        text-align: center;
                        cursor:pointer;
                        font-size:0.9em;
                    }

                    .profil-header:hover{
                        color:$colorRed;
                    }

                    .active-header{
                        display: flex;
                        background-color: $colorBlue;
                        color: $colorRed
                    }
                }

                .profil-content{
                    display: flex;
                    width: 70%;
                    background-color: white;
                    padding: 20px;

                    .profil-info{
                        display: none;
                        
                    }

                    .technos{
                        display: flex;
                        flex-direction: column;
                        border-radius: 5px;
                        margin-top: 20px;
                        width: 100%;
                        height: 100%;

                        .skills{
                            display: flex;
                            flex-direction: column;
                            margin: 0px 0 20px 0;

                            span:nth-child(1){
                                font-weight: 545;
                            }

                            .images-logo{
                                display: flex;
                                flex-wrap: wrap;

                                div{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    margin: 10px 20px;

                                    img{
                                        width: 50px;
                                        height:50px;
                                    }
                                    span{
                                        text-align: center;
                                        font-size: 0.9em;
                                    }
                                }
                            }
                        }

                        .skills::after {
                            content: '';
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            left: 0;
                            background-color: $colorRed;
                            top: 0;
                            border-radius: 50%;
                            z-index: 1;
                        }
                    }

                    .formation{
                        width: 100%;
                        position: relative;
                        flex-direction: column;
                        margin-top: 20px;
                        

                        .formation-element{
                            display: flex;
                            flex-direction: column;
                            position: relative;
                            
                            padding: 0px 40px;
                            margin: 0 0 20px 0;

                            span{

                                fa-icon{
                                    margin-right: 5px;
                                }
                            }

                            .formation-title{
                                font-weight: bold;
                            }

                            .formation-description{
                                margin-top: 5px;
                            }

                        }

                        .formation-element::after {
                            content: '';
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            left: 0;
                            background-color: $colorRed;
                            top: 0;
                            border-radius: 50%;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1289px){

    .about{

        .content{
        
            .text-video{
    
                flex-direction: column-reverse;

                .video{
                    margin-bottom: 45px;
                }

                .text{
                    width: 100%;
                    margin: 0 0;
                }
            }

            .actions{
                margin-top: 20px ;
            }

            .profil{
                flex-direction: column-reverse;

                .others{
                    width: 100%;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;

                   .formation{
                       width: 100%;
                   }

                   .langues{
                       width: fit-content;
                       margin: 60px 10px 60px 0;

                       .langue{
                           margin-left:0;
                       }
                   }

                   .hobbies{
                        width: fit-content;
                        margin: 60px 0 60px 0;

                        .hobby{
                            margin: 0;
                        }
                   }
                }

                .technos-bloc{
                    padding-top: 20px;
                    margin-top: 20px;
                    width: 100%;
                }
            }
        }
    }
}

@media all and (max-width: 1012px){
    .about{
        margin: 0 0 0 100px;
        width: calc(100vw - 100px);
    }
}

@media all and (max-width: 826px){
    .profil-content{
        width: 100% !important;
    }
}

@media all and (max-width: 689px){
    .about{
        
        .content{
            margin: 0 23px;
        }
    }
}

@media all and (max-width: 675px){
    .about{
        margin: 0 0 0 60px;
        width: calc(100vw - 60px);

        .content{

            .actions{
                margin-bottom: -15px;
                flex-direction: column;

                button:first-child{
                    margin: 0 0 10px 0;
                }

                button:last-child{
                    margin: 10px 0 0 0;
                    padding: 6px 22px;
                }
            }
        }
    }
}

@media all and (max-width: 580px){
    .about{

        .content{

            .text-video{

                .video{
                    width: 100%;

                }
            }
        }
    }
}

