.about{
    margin: 0 0 0 300px;
    width: calc(100vw - 300px);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #D8D8D8;
    color: #363636;

    .content{
        width: 100%;
        margin: 0 55px;
        height: 100%;
        display: flex;
        flex-direction: column;
    
        .title{
            font-size: 1.9em;
            font-weight: bold;
            padding: 30px 0 10px 0;
            position: relative;
        }
    
        .title::before{
            content: "";
            position: absolute;
            width: 3em;
            height: 1px;
            bottom:0;
            border-bottom: 4px solid #129BBC;
        }

        .text-video{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin: 50px 0 20px 0;

            .text{
                display: flex;
                flex-direction: column;
                width: 55%;
                font-size: 1.1em;
                margin-right: 30px;

                span{
                    text-align: justify;
                }
                span:nth-child(2){
                    margin-top: 5px;
                }
            }

            .video{
                width: 400px;
                height: 100%;
                border-radius: 10px;

                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                
                vg-player{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;

                }
            }
        }

        .actions{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 50px 0 20px 0;

            button{
                padding: 6px 15px;
                border-radius: 100px;
                margin: 0 20px 0 20px;
                border: none;
                cursor: pointer;
                font-size: 1em;
                background-color: white;
                color:  #363636;
                box-shadow: 4px 5px 6px -1px #363636;

                fa-icon{
                    margin-left: 5px;
                }
            }

            button:hover{
                color: white;
                background-color: #363636 ;
                transition: all 0.5s ease 0s;
            }
        }

        .profil{
            display: flex;
            width: 100%;
            margin: 60px 0 60px 0;
            justify-content: space-between;

            .others{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0 10px;
                width: 400px;
                height: 100%;
                overflow: hide;

                .formation{
                    width: 100%;
                    .header{
                        font-size: 1.6em;
                        color:  #129BBC;
                    }
                    
                    .timeline{
                        width: 100%;
                        position: relative;
                        margin-top: 15px;
                        .timeline-bloc{
                            display: flex;
                            flex-direction: column;
                            position: relative;
                            
                            padding: 10px 40px;

                            span{

                                fa-icon{
                                    margin-right: 5px;
                                }
                            }

                            .formation-title{
                                font-weight: bold;
                                margin-top: 15px;
                            }

                            .formation-description{
                                margin-top: 15px;
                            }

                        }

                        .timeline-bloc::after {
                            content: '';
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            left: 0;
                            background-color: #129BBC;
                            top: 10px;
                            border-radius: 50%;
                            z-index: 1;
                          }
                    }

                    .timeline::after {
                        content: '';
                        position: absolute;
                        width: 3px;
                        background-color: #129BBC;
                        top: 10px;
                        bottom: 0;
                        left: 6.4px;
                      }
                }

                .langues{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin: 30px 0 30px 0;

                    .header{
                        font-size: 1.6em;
                        color:  #129BBC;
                        margin-bottom: 15px;
                    }

                    .langue{
                        margin: 3px 0 3px 40px;
                    }

                }

                .hobbies{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin: 0px 0 20px 0;

                    .header{
                        font-size: 1.6em;
                        color:  #129BBC;
                        margin-bottom: 15px;
                    }

                    .hobby{
                        margin: 3px 0 3px 40px;

                        fa-icon{
                            margin-right: 5px;
                            font-size: 1.1em;
                        }
                    }


                }
            }








            .technos-bloc{
                width: 55%;
                background-color: #F2F2F2;
                padding: 0 20px;
                margin-right: 30px;
                border-radius: 5px;
                height: fit-content;

                .header{
                    font-size: 1.6em;
                    color: #129BBC;
                }

                .technos{
                    width: 100%;
                    margin-top: 20px;
                    .skill {
                        margin-bottom: 35px;
                        position: relative;
                        
                        p {
                        font-weight: 400;
                        color: #363636;
                        margin: 0;
                        font-size: 1.1em;
                        }
                    }
                    .skill:before{
                        width: 100%;
                        height: 9px;
                        content: "";
                        display: block;
                        position: absolute;
                        background: #959595;
                        bottom: 0;
                        border-radius: 100px;
                    }
                    .skill-bar {
                        width: 100%;
                        height: 9px;
                        background:#129BBC;
                        display: block;
                        position: relative;
                        border-radius: 100px;
                    }
                
                    /* SKILL 1 */
                    .skill1{
                        width: 80%;
                            
                    }
                    .skill-bar span{
                        position: absolute;
                        top: -25px;
                        padding: 3px 0 0 0;
                        font-weight: 500;
                    }
                    .skill-bar {
                        position: relative;
                            
                    }
                
                    .skill1 .skill-count1 {
                        right: 0;
                    }
                    /* SKILL 2 */
                    .skill2{
                        width: 65%;
                    }
                
                    .skill2 .skill-count2 {
                        right: 0;
                    }
                    /* SKILL 3 */
                    .skill3{
                        width: 65%;
                    }
                    .skill3 .skill-count3 {
                        right: 0;
                    }
                
                    /* SKILL 4 */
                    .skill4{
                        width: 90%;
                    }
                
                    .skill4 .skill-count4 {
                        right: 0;
                    }
                
                    /* SKILL 5 */
                    .skill5{
                        width: 80%;
                    }
                
                    .skill5 .skill-count5 {
                        right: 0;
                    }
                
                    /* SKILL 6 */
                    .skill6{
                        width: 65%
                    }
                
                    .skill6 .skill-count6 {
                        right: 0;
                    }

                }
            }
        }
    }
}

@media all and (max-width: 1289px){

    .about{

        .content{
        
            .text-video{
    
                flex-direction: column-reverse;

                .video{
                    margin-bottom: 45px;
                }

                .text{
                    width: 100%;
                    margin: 0 0;
                }
            }

            .actions{
                margin-top: 20px ;
            }

            .profil{
                flex-direction: column-reverse;

                .others{
                    width: 100%;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;

                   .formation{
                       width: 100%;
                   }

                   .langues{
                       width: fit-content;
                       margin: 60px 10px 60px 0;

                       .langue{
                           margin-left:0;
                       }
                   }

                   .hobbies{
                        width: fit-content;
                        margin: 60px 0 60px 0;

                        .hobby{
                            margin: 0;
                        }
                   }
                }

                .technos-bloc{
                    padding-top: 20px;
                    margin-top: 20px;
                    width: 100%;
                }
            }
        }
    }
}

@media all and (max-width: 1012px){
    .about{
        margin: 0 0 0 100px;
        width: calc(100vw - 100px);
    }
}

@media all and (max-width: 689px){
    .about{
        
        .content{
            margin: 0 23px;
        }
    }
}

@media all and (max-width: 675px){
    .about{
        margin: 0 0 0 60px;
        width: calc(100vw - 60px);

        .content{

            .actions{
                margin-bottom: -15px;
                flex-direction: column;

                button:first-child{
                    margin: 0 0 10px 0;
                }

                button:last-child{
                    margin: 10px 0 0 0;
                    padding: 6px 22px;
                }
            }
        }
    }
}

@media all and (max-width: 580px){
    .about{

        .content{

            .text-video{

                .video{
                    width: 100%;

                }
            }

            .profil{

                .technos-bloc{

                    .technos{

                        .skill{
                            font-size: 0.95em ;

                            .wow{

                                span{
                                    font-size: 0.92em;
                                    right: -10%;
                                    top: -22px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 500px){
    .about{

        .content{

            .profil{

                .technos-bloc{

                    .technos{

                        .skill{

                            .wow{

                                .soixante-cinq{
                                    right: -52%;
                                }

                                .quatre-vingt{
                                    right: -24%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 438px){

    .about{

        .content{

            .profil{

                .technos-bloc{

                    .technos{

                        .skill{
                            
                            p{

                                .word-to-remove{
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .others{

                   .langues{
                       width: fit-content;
                       margin: 40px 10px 15px 0;

                       .langue{
                           margin-left:0;
                       }
                   }

                   .hobbies{
                        width: fit-content;
                        margin: 15px 0 40px 0;

                        .hobby{
                            margin: 0;
                        }
                   }
                }

                .technos-bloc{
                    padding-top: 20px;
                    margin-top: 20px;
                    width: 100%;
                }
            }
        }
    }
}