<div class="about">
    <div class="content">
        <span class="title">À Propos</span>
        <div class="text-video">
            <div class="text">
                <span>
                    Je suis un développeur web full stack js. Je conçois et développe des sites web en m'outillant de ma créativité sans jamais faire de compromis sur la qualité. Mon expertise comprend: le conseil stratégique, le maquettage des interfaces utlisateurs, le développement front-end et back-end, l'optimisation seo on page et la mise en production.
                </span>
 
                <span>
                    Je suis autonôme, travailleur et passionné. J'aime me frotter à de nouveaux défis. N'hésitez donc pas à me contacter afin qu'on atteigne ensemble vos objectifs. 
                </span>
            </div>
<!--
            <div class="video">
               <vg-player>
            
                    <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls [poster]="posterLink">
                        <source src="https://drive.google.com/file/d/1OToGQyGPLUGbatjiUbrybyoXH_-DfVsp/preview" type="video/mp4">
                    </video>

                </vg-player>

            </div>
-->
        </div>


        <div class="actions">

            <a href="https://drive.google.com/file/d/1270LhSlQntvSgBWDzf0rL0qNXKpya-lb/view?usp=sharing" aria-label="Cv" rel="noopener" target="_blank"><button>Téléchargez cv<fa-icon [icon]=faDownload></fa-icon></button></a>
            
            <button routerLink="/contact">Contactez - moi</button>
        </div>

        <div class="profil">
            <div class="technos-bloc">
                <span class="header">Compétences</span>
                <div class="technos">
                    
                    <div class="skill">
                        <p><span class="word-to-remove">Développement </span>Front-End</p>
                        <div class="skill-bar skill1 wow slideInLeft animated">
                            <span class="skill-count1 quatre-vingt">80%</span>
                        </div>
                    </div>

                    <div class="skill">
                        <p><span class="word-to-remove">Développement </span>Back-End</p>
                        <div class="skill-bar skill2 wow slideInLeft animated">
                             <span class="skill-count2 soixante-cinq">65%</span>
                        </div>
                    </div>
                    <div class="skill">
                        <p>Web Design</p>
                        <div class="skill-bar skill3 wow slideInLeft animated">
                            <span class="skill-count3 soixante-cinq">65%</span>
                        </div>
                    </div>
                    <div class="skill">
                        <p>Optimisation SEO</p>
                        <div class="skill-bar skill4 wow slideInLeft animated">
                            <span class="skill-count4 quatre-vingt-dix">90%</span>
                        </div>
                    </div>
                    <div class="skill">
                        <p>Angular</p>
                        <div class="skill-bar skill5 wow slideInLeft animated">
                            <span class="skill-count5 quatre-vingt">80%</span>
                        </div>
                    </div>
                    <div class="skill">
                        <p>Node.js</p>
                        <div class="skill-bar skill6 wow slideInLeft animated">
                            <span class="skill-count6 soixante-cinq">65%</span>
                        </div>
                    </div>
                </div>

                
            </div>
            <div class="others">
                <div class="formation">
                    <span class="header">Formation</span>
                    <div class="timeline">
                        <div class="timeline-bloc">
                            <span><fa-icon [icon]=faCalendarAlt></fa-icon><span>2016 - 2019</span></span>
                            <span class="formation-title">Cycle d'Ingénierie Informatique (3iL)</span>
                            <span class="formation-description">Conception et développement de système d’information</span>
                        </div>

                        <div class="timeline-bloc">
                            <span><fa-icon [icon]=faCalendarAlt></fa-icon><span>2014 - 2016</span></span>
                            <span class="formation-title">Classes préparatoires (Prépa 3iL)</span>
                            <span class="formation-description">Informatique, mathématiques, physiques</span>
                        </div>
                    </div>
                </div>

                <div class="langues">
                    <span class="header">Langues</span>
                    <span class="langue">Français ( langue maternelle )</span>
                    <span class="langue">Anglais ( technique )</span>
                </div>

                <div class="hobbies">
                    <span class="header">Hobbies</span>
                    <span class="hobby"><fa-icon [icon]="faFutbol"></fa-icon>Football</span>
                    <span class="hobby"><fa-icon [icon]="faGuitar"></fa-icon>Guitare</span>
                </div>

            </div>
        </div>
    </div>
</div>
