<div class="elites">
    <div class="content">
        <button class="back-button" (click)="goOnProjectsList()"><fa-icon [icon]="faBackward"></fa-icon>Retour</button>


        <div class="description">
            <img src="../../../assets/img/logos/ev_logo.png" alt="Logo of sscovid19 website">
            <span class="description-title">Description</span>
            <span><strong>ELITES VOYAGES</strong> est une agence de voyage et de tourisme située au Cameroun. Voulant se rapprocher d'avantage de sa clientèle grandissante et surtout voulant s'alligner dans la dynamique de digitalisation mondiale actuelle, elle a décidé de se doter d'un site web aujourd'hui indispensable dans ces secteurs d'activités.</span>
            <span>Après un ensemble de réunions au bouts desquelles je leur ai présenté le design du site web et les interfaces utilisateurs de la solution que je proposais, nous sommes tombés d'accord. Étant donné qu'elle ne possedait pas d'ancienne solution , j'ai dû tout créer de rien y compris le logo.</span>
            <span>Les exigences de ce projet sont les suivantes :</span>

            <ul>
                <li>achater de nom de domaine</li>
                <li>créer un site web bilingue (anglais, français)</li>
                <li>donner la possibilité aux utilisateurs de contacter l'entreprise en indiquant les paramètres de leurs voyages via un formulaires</li>
                <li>permettre aux utilisateurs de consulter les catalogues de voitures disponibles à la location</li>
                <li>permettre aux utilisateurs de consulter la liste d'hôtels et d'appartements meublés proposés</li>
                <li>présenter l'ensemble des circuits touristiques disponibles</li>
                <li>terminer le site web et le mettre en ligne</li>
                <li>intégrer google analytics pour mieux appréhender le comportement des utilissateurs du site</li>
                <li>développer une partie administrateur de gestion le site</li>
                <li>optimiser le référencement SEO</li>
            </ul>

                <button (click)="goOnElitesVoyagesWebsite()">Site web en cours de développement</button>
        </div>    

        <div class="technos-bloc">
            <span class="title">Technologies utilisées</span>


            <div class="technos">
                <div class="techno">
                    <img src="../../../assets/img/logos/angular_logo.png" alt="angular logo">
                    <span>Angular 12</span>
                </div>
                <div class="techno">
                    <img src="../../../assets/img/logos/node_logo.png" alt="node js logo">
                    <span>Node js</span>
                </div>
                <div class="techno">
                    <img src="../../../assets/img/logos/express_logo.png" alt="express logo">
                    <span>Express js</span>
                </div>
                
                <div class="techno">
                    <img src="../../../assets/img/logos/mongodb_logo.png" alt="mongoDB logo">
                    <span>Mongo DB</span>
                </div>

                <div class="techno">
                    <img src="../../../assets/img/logos/google_analytics_logo.png" alt="google analytics logo">
                    <span>Google Analytics</span>
                </div>
            
                <div class="techno">
                    <img src="../../../assets/img/logos/ionos_logo.png" alt="ionos logo">
                    <span>Ionos</span>
                </div>

                <div class="techno">
                    <img src="../../../assets/img/logos/json_web_token_logo.png" alt="ionos logo">
                    <span>JSON Web Token</span>
                </div>

                <div class="techno">
                    <img src="../../../assets/img/logos/adobe_xd.png" alt="ionos logo">
                    <span>Adobe XD</span>
                </div>

            </div>
        </div>
    </div>

</div>