$fontcolor : #363636;

.sscovid{
    margin: 0 0 0 300px;
    width: calc(100vw - 300px);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #D8D8D8;
    color: $fontcolor;

    .content{
        width: 100%;
        margin: 0 55px;
        height: 100%;
        display: flex;
        flex-direction: column;
    
        .title{
            font-size: 1.9em;
            font-weight: bold;
            padding: 30px 0 10px 0;
            position: relative;
            color: #129BBC;

            fa-icon{
                margin-right: 8px;
            }

            cursor: pointer;
        }

        .description{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img{
                width: 100px;
                height: 100px;
                margin-bottom: 30px;
            }

            .description-title{
                margin-bottom: 30px;
                
                font-weight: bold;
                font-size: 1.6em;
            }

            span{
                width: 100%;
            }

            ul{
                margin-top: 15px;
                list-style-position: inside;
                margin-left: 10px;
            }

            button{
                padding: 5px 25px;
                border-radius: 100px;
                margin: 50px 20px 0 20px;
                border: none;
                cursor: pointer;
                font-size: 1em;
                background-color: white;
                color:  #363636;
                box-shadow: 4px 5px 6px -1px #363636;

           
            }

            button:hover{
                color: white;
                background-color: #363636 ;
                transition: all 0.5s ease 0s;
                box-shadow: 4px 5px 6px -1px #129BBC;

            }
        }

        .organisation{
            display: flex;
            flex-direction: column;
            position: relative;
            
            .organisation-title{
               
                font-weight: bold;
                font-size: 1.4em;
                margin-top: 40px;
                margin-bottom: 40px;
            }

            .video{
                display: flex;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 300px;
                margin: 50px 0 70px 0;

                vg-player{
                    width: 600px;
                    height: 100%;
                    border-radius: 5px;
                }
               
            }
            



            .accordions{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                .tab{
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                    background-color: white;
                    margin-bottom: 30px;
                    border-radius: 5px;

                    input{
                        position: absolute;
                        display: none;
                    }

                    .tab-label {
                        display: flex;
                        justify-content: space-between;
                        padding: 0.5em 1em;
                        font-weight: 500;
                        cursor: pointer;
                        /* Icon */
                        &:hover {
                          color: #129BBC;
                        }
                        &::after {
                          content: "\276F";
                          width: 1em;
                          height: 1em;
                          text-align: center;
                          transition: all .35s;
                        }
                      }
                      &-content {
                        max-height: 0;
                        padding: 0 1em;
                        color: $fontcolor;
                        background: white;
                        transition: all .35s;
                      }
                      &-close {
                        display: flex;
                        justify-content: flex-end;
                        padding: 1em;
                        font-size: 0.75em;
                        cursor: pointer;
                   
                      }

                      input:checked {
    
                        + .tab-label {
                          background: #129BBC;
                          color: white;
                          &::after {
                            transform: rotate(90deg);
                          }
                        }
                        ~ .tab-content {
                          max-height: 100vh;
                          padding: 1em;
                        }
                      }
                }
            }

            .organisation-subtitle{
                font-weight: bold;
                margin-top: 40px;
                margin-bottom: 15px;
            }

            .organisation-first-step{
                display: flex;
                flex-direction: column;
            }

            img{
                width: 70%;
                height: 300px;
            }
        }

    }
}


@media all and (max-width: 1012px){
    .sscovid{
        margin: 0 0 0 100px;
        width: calc(100vw - 100px);
    }
}

@media all and (max-width: 675px){
    .sscovid{
        margin: 0 0 0 60px;
        width: calc(100vw - 60px);
    }

}
