<div class="sscovid">
    <div class="content">
        <button class="back-button" (click)="goOnProjectsList()"><fa-icon [icon]="faBackward"></fa-icon>Retour</button>


        <div class="description">
            <img src="../../../assets/img/logos/sscovid19_logo.png" alt="Logo of sscovid19 website">
            <span class="description-title">Description</span>
            <span><strong>SSCOVID19</strong> est un projet personnel que j'ai réalisé dans le but de participer activement à la lutte contre la covid-19 dans le monde. Il offre la possibilité à de rester informé sur l'évolution du virus notamment avec des mises à jour automatiques toutes les 45 minutes.</span>
            <span>C'est une application web bilingue ( anglais, français ) qui prend en compte des données de plus de 215 pays et qui permet: </span>
                <ul>
                    <li>de consulter les chiffres totaux mondiaux de l'épidémie</li>
                    <li>de consulter les chiffres par continents et par pays</li>
                    <li>de visualiser les graphes d'évolution de la maladie et les graphes d'évolution des vaccinations ( depuis janvier 2020 ) dans le monde et par pays</li>
                    <li>de visualiser la carte du monde avec des indicateurs de couleur suivant la gravité des cas dans différents pays</li>
                    <li>de rester à jour sur les faits d'actualité de cette pandémie </li>
                </ul>

                <button (click)="goOnSscovidWebsite()">Visitez le site</button>
        </div>    

        <div class="organisation">            
           
            <div class="video">

                <vg-player>
                    <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls [poster]="posterLink">
                        <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
                    </video>
                </vg-player>

            </div>

        </div>

        <div class="technos-bloc">
            <span class="title">Technologies utilisées</span>


            <div class="technos">
                <div class="techno">
                    <img src="../../../assets/img/logos/angular_logo.png" alt="angular logo">
                    <span>Angular 11</span>
                </div>
                <div class="techno">
                    <img src="../../../assets/img/logos/node_logo.png" alt="node js logo">
                    <span>Node js</span>
                </div>
                <div class="techno">
                    <img src="../../../assets/img/logos/express_logo.png" alt="express logo">
                    <span>Express js</span>
                </div>
                <div class="techno">
                    <img src="../../../assets/img/logos/postgres_logo.png" alt="postgresql logo">
                    <span>PostgreSQL</span>
                </div>
                <div class="techno">
                    <img src="../../../assets/img/logos/amcharts_logo.png" alt="amchartlogo">
                    <span>AmCharts</span>
                </div>

                <div class="techno">
                    <img src="../../../assets/img/logos/google_analytics_logo.png" alt="google analytics logo">
                    <span>Google Analytics</span>
                </div>
                <div class="techno">
                    <img src="../../../assets/img/logos/heroku_logo.png" alt="heroku logo">
                    <span>Heroku</span>
                </div>
                <div class="techno">
                    <img src="../../../assets/img/logos/hostinger_logo.png" alt="angular-logo">
                    <span>Hostinger</span>
                </div>
            </div>
        </div>
    </div>

</div>