<div class="home">
    <div class="images-medias">
        <img class="nav-image" src="../../../assets/img/moi.jpeg" alt="image de Samuel Mandeng"/>
        <div class="medias">

            <a href="https://www.linkedin.com/in/bonachisamuel" aria-label="Github" rel="noopener" target="_blank"><div></div></a>
            <a href="https://www.instagram.com/zrotof_" aria-label="Instagram" rel="noopener" target="_blank"> <div></div></a>
            <a href="https://github.com/zrotof" aria-label="Github" rel="noopener" target="_blank"><div></div></a>

        </div>
    </div>
    <span class="greetings">Salut, je m'appelle <span class="name"> Samuel Mandeng</span></span>
    <div class="work"> 
        <span>je suis un </span>
        <ul>
            <li>Développeur Web</li>
            <li>Web Designer</li>
        </ul>
    </div>
    <button routerLink="/a-propos"> À Propos </button>

    
</div>