$colorBlue: #00011e;
$colorRed: #FF3100;
$background: #f3f3f3;
$colorYellow: #FFCC00;

.app{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
        .hero{

            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $colorBlue;    
            
            .content{
                display: flex;
                justify-content: space-around;
                align-items: center;    
                width: 100%;

                .text-network-bloc{

                    display: flex;
                    flex-direction: column;
                    border-radius: 5px;

                    .greetings{
                
                        font-size: 1.3rem;
                        font-weight: 330;  
                    }
                    .name{
                        font-weight: 700;
                        font-size: 3rem;
                    }
                
                    .work{
                        display: flex;
                        font-size: 1.3rem;
                        margin-top: 5px;
                        font-weight: 330;
                
                        #typewriter{
                            color: $colorYellow;
                            margin-left: 5px;
                            font-weight: 500;
                            font-size: 1.5rem;

                        }
                        
                    }

                    

            
                button{
                    padding: 6px 25px;
                    border-radius: 100px;
                    margin-top: 20px;
                    border: 1px solid $colorBlue;
                    cursor: pointer;
                    background-color: white;
                    box-shadow: 3px 4px 5px $colorYellow;
                    display: flex;
                    align-items: center;
                    align-items: center;
                    width: fit-content;
                    font-size: 1.1em;

                    a{
                        text-decoration: none;
                        margin-right: 10px;
                        color: $colorBlue;
                    }
            
                }
            
                button:hover{
                    background-color: $colorBlue ;
                    transition: all 0.5s ease 0s;
                    color: $colorYellow;

                    a{
                        color: $colorYellow;
                    }
                }

                .networks{
                    display: flex;
                    align-items: center;

                    .network-icon{
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        margin: 20px 15px 0 0;
                        background-color: $colorBlue;

                        cursor: pointer;
                    }

                    .linkedin{
                        background-image: url("../../../assets/img/linkedin.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;

                    }
                    .linkedin:hover{
                        background-image: url("../../../assets/img/linkedin-color.png");
                        background-color: inherit;
                        transform: scale(1.5);

                    }

                    .github{
                        background-image: url("../../../assets/img/github.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;

                    }
                    .github:hover{
                        background-image: url("../../../assets/img/github-color.png");
                        background-color: inherit;
                        transform: scale(1.5);

                    }

                    .instagram{
                        background-image: url("../../../assets/img/instagram.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;

                    }
                    .instagram:hover{
                        background-image: url("../../../assets/img/instagram-color.png");
                        background-color: inherit;
                        transform: scale(1.3);
                    }
                }

                }

                img{
                    width: 350px;
                }

            }
        }

        .about{

            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $colorBlue;    
            
            .content{
                display: flex;
                justify-content: space-around;
                width: 100%;
                    
                flex-direction: column;


                .title{
                    font-size: 1.9em;
                    font-weight: bold;
                    position: relative;
                }
            
                .title::before{
                    content: "";
                    position: absolute;
                    width: 3em;
                    height: 1px;
                    bottom:0;
                    border-bottom: 4px solid $colorYellow;
                }
        
                .text-image{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    margin: 50px 0 20px 0;
        
                    .text{
                        display: flex;
                        flex-direction: column;
        //                width: 100%;
                        font-size: 1.1em;
                        margin-right: 30px;
        
                        span{
                            text-align: justify;
                            margin-top: 5px;

                        }
                    }

                    img{
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        border: solid $colorBlue;
                        margin-right:30px;

                    }
        
                    .video{
                        width: 200px;
                        height: 100%;
                        border-radius: 10px;
        
                        
                        vg-player{
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
        
                        }
                    }
                }
        
               
        
                .profil{
                    display: flex;
                    width: 100%;
                    margin: 70px 0;
                    justify-content: space-between;
                    flex-direction: column;
        
        
                    .profil-bloc{
                        display: flex;
                        width: 100%;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
        
        
                        .profil-nav{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                            
                            .profil-header{
                                padding: 5px 10px;
                                border: solid #129abc2f;
                                margin: 0 5px 10px 5px;
                                border-radius: 100px;
                                text-align: center;
                                cursor:pointer;
                                font-size:0.9em;
                            }
        
                            .profil-header:hover{
                                border: solid $colorBlue;
                            }
        
                            .active-header{
                                display: flex;
                                background-color: $colorBlue;
                                color: white;
                                border: solid $colorBlue;
                            }
                        }
        
                        .profil-content{
                            display: flex;
                            width: 100%;
                            background-color: white;
                            .profil-info{
                                display: none;
                            }
        
                            .technos{
                                display: flex;
                                border-radius: 5px;
                                margin-top: 20px;
                                width: 100%;
                                height: 100%;
                                justify-content: space-around;
                                align-items: center;


                                .profil-info-conteneur{
                                    display: flex;
                                    //flex-direction: column;
                                    .skills{
                                        display: flex;
                                        margin: 0 5px;
                                        flex-direction: column ;
                                        background-color: $colorYellow;
                                        border-radius: 5px;
                                        padding: 10px 10px;
                                        height: fit-content;
                                        box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 8px;

                                        .skills-title{
                                            font-weight: 545;
                                            text-align: center;
                                        }
            
                                        .images-logo{
                                            display: flex;
                                            flex-direction: column;
            
                                            div{
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: center;
                                                align-items: center;
                                                margin: 10px 20px;
            
                                                img{
                                                    width: 50px;
                                                    height:50px;
                                                }
                                                span{
                                                    text-align: center;
                                                    font-size: 0.9em;
                                                }
                                            }
                                        }
                                    }
                                }

                                
                            }
        
                            .formation{
                                width: 100%;
                                position: relative;
                                margin-top: 20px;
                                //display: flex;
                                justify-content: center;
                                align-items: flex-start;
                                
                                img{
                                    width: 80px;
                                    height: 80px;
                                    margin-right: 20px;
                                }
                                
                                .formation-conteneur{
                                    .formation-element{
                                        display: flex;
                                        flex-direction: column;
                                        position: relative;
                                        
                                        padding: 0px 40px;
                                        margin: 0 0 20px 0;
            
                                        span{
            
                                            fa-icon{
                                                margin-right: 5px;
                                            }
                                        }
            
                                        .formation-title{
                                            font-weight: bold;
                                        }
            
                                        .formation-description{
                                            margin-top: 5px;
                                        }
            
                                    }
                                }

                                .formation-element::after {
                                    content: '';
                                    position: absolute;
                                    width: 15px;
                                    height: 15px;
                                    left: 0;
                                    background-color: $colorYellow;
                                    top: 0;
                                    border-radius: 50%;
                                    z-index: 1;
                                }
                            }
                        }
                    }
                }
            }
        }

        .services{

            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $colorBlue;
            background-color: #dddddd;


            .content{
                width: 100%;
                margin: 0 55px;
                height: 100%;
                display: flex;
                flex-direction: column;
                width: 100%;

                .title{
                    font-size: 1.9em;
                    font-weight: bold;
                    padding: 30px 0 10px 0;
                    position: relative;
                    text-align: left;
                }
            
                .title::before{
                    content: "";
                    position: absolute;
                    width: 5%;
                    height: 1px;
                    bottom:0;
                    border-bottom: 4px solid $colorYellow;
                }

                .speach{
                    margin: 50px 0;
                    font-size: 1.2em;
                }
                .services-list{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    margin: 60px 0;

                    .service{
                        width: 250px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 0 25px 50px 25px;
                        background-color: $colorBlue;
                        border-radius: 10px;
                        box-shadow: 4px 5px 6px -1px #363636;
                        padding: 20px 20px;
                        color: $background;
                        font-size: 0.95rem;

                        fa-icon{
                            font-size: 3em;
                            color: $colorYellow;
                        }

                        .service-title{
                            margin: 20px 0;
                            font-weight: bold;
                            font-size: 1.3em;

                        }
                    }
                }
            }

            .call-bloc{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $colorBlue;
                color: white;
                width: 100%;
                padding: 30px 0;
                margin-bottom: 60px;

                .call{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;

                    span{
                        margin: 0 10px;
                        padding-bottom: 2px;
                        color: $colorYellow;
                        border-bottom: 2px solid $colorYellow;
                        font-size: 1.1em;

                    }

                    button{
                        padding: 5px 10px;
                        text-align: center;
                        border: none;
                        background-color: white;
                        border-radius: 100px;
                        cursor: pointer;
                        width: fit-content;
                        margin: 0 10px;
                        font-weight: 500;
                        font-size: 1.05em;


                    }



                }
            }
        }

        .projects{
            
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            color:$colorBlue;
          
            .content{
                width: 100%;
                margin: 0 55px;
                height: 100%;
                display: flex;
                flex-direction: column;
            
                .title{
                    font-size: 1.9em;
                    font-weight: bold;
                    padding: 30px 0 10px 0;
                    position: relative;
                }
            
                .title::before{
                    content: "";
                    position: absolute;
                    width: 3em;
                    height: 1px;
                    bottom:0;
                    border-bottom: 4px solid $colorYellow;
                }

                .summary{
                    margin: 50px 0 0 0;
                }

                .project-list{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: flex-start;
                    margin: 60px 0;

                    .project{
                        width: 220px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin: 0 10px 60px 10px;
                        background-color: white;
                        box-shadow: $colorBlue 0px 0px 20px 1px;
                        border-radius: 5px;
                        overflow: hidden;
                        cursor: pointer;

                        .project-image{
                            width: 100%;
                            height: 130px;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .project-title{
                            font-weight: bold;
                            font-size: 1.3em;
                            margin: 20px 0 10px 0;
                        }

                        .project-summary{
                            margin: 0 10px 10px 10px;
                            text-align: justify;
                            font-size: 0.9em;
                            font-weight: 350;
                        }
                        
                        button{
                            padding: 6px 22px;
                            border-radius: 100px;
                            margin: 10px 0 20px 0;
                            border: none;
                            cursor: pointer;
                            font-size: 0.9em;
                            background-color: white;
                            font-size: 0.8em;
                            box-shadow: 4px 5px 6px -1px #00000086;
                        }
            
                        

                    }

                    .project:hover{
                        box-shadow: $colorRed 0px 0px 20px ;

                        img{

                            transform: scale(1.2,1.3);
                            transition: all 0.3s ease-in-out;
                        }

                        button{
                            color: white;
                            background-color: #363636 ;
                            transition: all 0.3s ease 0s;
                        }

                        button:hover{
                            color: $colorRed;
                            background-color: $colorBlue ;
                            transition: all 0.5s ease 0s;
                            box-shadow: 4px 5px 6px -1px #129BBC;

                        }
                    }
                }

            }
        }

        .contact{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            color: $colorBlue;
         
            .content{
                width: 100%;
                margin: 0 55px;
                height: 100%;
                display: flex;
                flex-direction: column;
            
                .title{
                    font-size: 1.9em;
                    font-weight: bold;
                    padding: 30px 0 10px 0;
                    position:relative;
                    z-index: 1;
                }
            
                .title::before{
                    content: "";
                    position: absolute;
                    width: 3em;
                    height: 1px;
                    bottom:0;
                    border-bottom: 4px solid $colorYellow;
                }
        
                > span:nth-child(2){
                    margin: 50px 0 5px 0;
                    font-size: 1.1em;
                }
        
                > span:nth-child(3){
                    margin: 5px 0 50px 0;
                    font-size: 1.2em;
                    font-weight: 550;
        
                }
        
                .contact-info{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 60px;    
            
                    .personal-id{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        border-radius: 10px;
                        background-color: #dddddd;
                        width: 20%;
                        .tel, .mail{
                            display: flex;
                            flex-direction: column;
                            margin: 20px 0;
                            align-items: center;
            
                            .img-bloc{
                                border-radius: 50%;
                                width: 50px;
                                height: 50px;
                                background-color: #00011e;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: $colorYellow;
                                font-size: 1.6em;
                                margin: 0 0 3px 0;
                            }
        
                            .text-bloc{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
        
                                .titles{
                                    font-size: 1.4em;
                                    margin: 0 0 3px 0;
                                    font-weight: lighter;
                                }
                                .text{
                                    font-weight: 500;
                                    font-size: 0.85em;
                                }
                            }
        
                        }
                    }
        
                    form{
                        width: 70%;
                        background-color: #dddddd;
                        padding: 50px 33px;
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
        
                        .invalid-feedback{
                            color: $colorRed;
                            font-size: 0.9em;
                            position: relative;
                            left: 10px;
                            margin: 2px 0 5px 0;
                        }
        
                        .name-email{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
        
                            .name-bloc,.email-bloc{
                                width: 45%;
                                position: relative;
        
                                #name-input, #email-input{
                                    height: 40px;
                                    width: 100%;
                                    border: none;
                                    border-radius: 100px;
                                    padding: 0 20px;
                                    
                                    outline: none;
                                }
        
                                #name-input:not(:placeholder-shown) + .label-id,
                                #email-input:not(:placeholder-shown) + .label-id
                                {
                                    transform: translate(0, -50%);
                                    opacity: 1;
                                    color: $colorBlue;
                                }
        
                                .label-id{
                                    left: 20px;
                                    position: absolute;
                                    top: 0;
                                    opacity: 0;
                                    transition: all 0.2s;
                                }
                            }
        
                            
                        }
                        .objet-bloc{
                            width: 100%;
                            height: 40px;
                            position: relative;
                            margin-top: 20px;
        
                            #objet-input{
                                height: 100%;
                                width: 100%;
                                border: none;
                                border-radius: 100px;
                                padding: 0 20px;
                                outline: none;
                            }
        
                            #objet-input:not(:placeholder-shown) + .label-id
                            {
                                transform: translate(0, -50%);
                                opacity: 1;
                                color: $colorBlue;
                            }
        
                            .label-id{
                                left: 20px;
                                position: absolute;
                                top: 0;
                                opacity: 0;
                                transition: all 0.2s;
                            }
                        }
        
                        .message-bloc{
                            width: 100%;
                            height: 200px;
                            position: relative;
                            margin-top: 20px;
        
                            #message-area{
                                height: 100%;
                                width: 100%;
                                border: none;
                                border-radius: 10px;
                                padding: 10px 20px;
                                outline: none;
                                resize: none;
        
                            }
        
                            #message-area:not(:placeholder-shown) + .label-id
                            {
                                transform: translate(0, -50%);
                                opacity: 1;
                                color: $colorBlue;
                            }
        
                            .label-id{
                                left: 20px;
                                position: absolute;
                                top: 0;
                                opacity: 0;
                                transition: all 0.2s;
                            }
                        }
        
        
                    }
        
                    button{
                        padding: 7px 25px;
                        border-radius: 100px;
                        margin-top: 30px;
                        border: none;
                        cursor: pointer;
                        font-size: 1rem;
                        background-color: white;

                        p-progressSpinner{
                            height: 40px !important;
                            width: 40px !important;
                        }
                    }
        
                    button:hover{
                        color: $colorYellow;
                        background-color: $colorBlue ;
                        transition: all 0.5s ease 0s;
                
                    }
                
                }
        
            }
            
        }

}


@media all and (max-width: 1012px){
    .home{
        margin: 0 0 0 100px;
        width: calc(100vw - 100px);

        .images-medias{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $colorBlue;
            padding: 20px 40px ;
            border-radius: 10px;
            margin-bottom: 30px;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;    
            .nav-image{
                width: 160px;
                height: 160px;
                border-radius: 50%;
                margin: 0 0 10px 0;
            }
        
            .medias{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%; 
                margin-top: 10px;  
        
                a{
    
                    div{
                        height: 20px;
                        width: 20px;
                        margin: 0 8px;
                        cursor: pointer;
                    }
                }
    
    
                a:nth-child(1) div{
                    background-image: url("../../../assets/img/linkedin.png");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
    
                a:nth-child(1) div:hover{
                    background-image: url("../../../assets/img/linkedin-color.jpeg");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
    
    
    
                a:nth-child(2) div{
                    background-image: url("../../../assets/img/instagram.png");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
    
                a:nth-child(2) div:hover{
                    background-image: url("../../../assets/img/instagram-color.png");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
    
                a:nth-child(3) div{
                    background-image: url("../../../assets/img/github.png");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
    
                a:nth-child(3) div:hover{
                    background-image: url("../../../assets/img/github-color.png");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }



            }
        }
    }

}

@media all and (max-width: 840px){

    .home{
        .images-medias{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px 20px ;
            border-radius: 10px;
            margin-bottom: 30px;
    
            .nav-image{
                width: 120px;
                height: 120px;
                border-radius: 50%;
                margin: 0 0 10px 0;
            }
        
            .medias{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%; 
                margin-top: 10px;  
        
                img{
                    height: 20px;
                    width: 20px;
                    margin: 0 8px;
                    cursor: pointer;
                }
            }
        }

        .greetings{
            font-size: 1.5em;
        }

        .work{
            font-size: 1.2em;

            ul{
                list-style: none;
                padding-left: 5px;
                overflow: hidden;
                height: 1.3em;  
                line-height: 1.3em;

                @keyframes slide {

                    0%{
                        top: 1px;
                    }
    
                    100%{
                        top:-2.55em;
                    }
                }
            }
        }

        button{
            padding: 4px 22px;
        }
    }
}

@media all and (max-width: 675px){
    .home{
        margin: 0 0 0 60px;
        width: calc(100vw - 60px);
    }

}

@media all and (max-width: 465px){
    .home{
        .greetings{
            display: flex;
            flex-direction: column;
            font-size: 1.7em;

            .name{
                font-size: 1.3em;
            }

        }
    }

}

@media all and (max-width: 356px){
    .home{
        .greetings{
          
            .name{
                font-size: 1.2em;
            }

        }
    }

}

@media all and (max-width: 327px){
    .home{
        .greetings{
           font-size: 1.5em;
            .name{
                font-size: 1.2em;
                padding:0 5px;
            }

        }
    }

}

@media all and (max-width: 300px){
    .home{
        .work{
            flex-direction: column;
            width: 100%;
            align-items: center;

            ul{
                padding-left: 0;
            }
        }
    }

}





