$colorBlue: rgb(0, 1, 31);
$colorRed: #FF3100;
$background: #f3f3f3;
$colorYellow: #FFCC00;

.app{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

        .hero{

            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $colorBlue;  
            background: linear-gradient(283deg, #ffebb8bf 0%, #e3f2fd 100%);
            position: relative;
            overflow: hidden;

            svg{
                position:absolute;
                left:0;
                bottom: 0;
            }
            
            .content{

                display: flex;
                justify-content: space-around;
                align-items: center;    
                width: 100%;
                

                .text-network-content{

                    position: relative;
                    display: flex;

                .text-network{

                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    max-width: 415px;
                    background: rgb(255 255 255 / 37%);
                    box-shadow: 0 8px 32px 0 rgb(25 57 96 / 47%);
                    backdrop-filter: blur(6px);
                    border-radius: 5px;
                    border: 1px solid rgba(255, 255, 255, 0.18);
                    z-index: 3;

                    .greetings{
                
                        font-size: 1.3rem;
                        font-weight: 330;  
                    }
                    .name{
                        font-weight: 700;
                        font-size: 2.5rem;

                        .prenom{
                            display:inline-block;
                        }

                        .prenom::first-letter,
                        .nom::first-letter{
                            font-style: normal;
                        }

                        .nom{
                            display:inline-block;
                            margin-left: 8px;
                        }

                    }
                
                    .work{
                        display: flex;
                        font-size: 1.3rem;
                        margin-top: 5px;
                        font-weight: 330;
                
                        #typewriter{
                            color: $colorYellow;
                            margin-left: 5px;
                            font-weight: 500;
                            font-size: 1.5rem;


                        }
                        
                    }

                    .i-do{
                        margin: 5px 0;
                    }

                    

            
                button{
                    border: none;
                    padding: 5px 25px;
                    border-radius: 100px;
                    cursor: pointer;
                    background-color: $colorBlue;                    
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    margin: auto;
                    margin-bottom: 15px;
                    margin-top: 15px;
                    transition: all 0.5s ease 0s;
                    color: white;

                    a{
                        text-decoration: none;
                        margin-right: 10px;
                        color: white;
                        font-size: 1.05em;
                    }
            
                }
            
                button:hover{
                    color: $colorYellow;
                    box-shadow: 3px 4px 5px $colorYellow;
                    a{
                        color: $colorYellow;
                    }
                }

                .networks{
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .pi{
                        font-size: 21px;
                        cursor: pointer;
                        margin: 10px 7px;
                    }

                    .linkedin:hover{
                        color: #0a66c2;
                    }

                    .github:hover{
                        color: black;
                    }

                    .instagram:hover{
                        color: rgb(182, 69, 140);
                    }

                }


                

                }

               
                .circle-one{
                    width: 80px;
                    height: 80px;
                    position: absolute;
                    top: -14px;
                    right: -34px;
                    z-index:  2;
                    opacity: 0.8;

                }

                .cross{
                    position: absolute;
                    bottom: -73px;
                    left: -61px;
                    z-index:  2;
                    width: 180px;
                    height: 180px;

                }

                .square-one{
                    background: rgb(247 7 112 / 33%);                    position: absolute;
                    bottom: 9px;
                    right: -77px;
                    z-index: 4;
                    width: 262px;
                    height: 28px;
                    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
                    transform: rotate(120deg) translate(3.5px, 3.5px);
                    border-radius: 40px;
                }

            }
                .hero-image{
                    width: 370px;
                }

            }
        }

        .about{

            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $colorBlue;    
            
            .content{
                display: flex;
                justify-content: space-around;
                width: 100%;
                    
                flex-direction: column;
        
                .text-image{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    margin: 50px 0 20px 0;
        
                    .text{
                        display: flex;
                        flex-direction: column;
        //                width: 100%;
                        font-size: 1.1em;
                        margin-left: 80px;
                        position: relative;
        
                        span{
                            text-align: justify;
                            margin-top: 5px;
                        }
                    }

                    img{
                        width: 350px;
                        height: 200px;
                        border-radius: 5px;
                        box-shadow: $colorYellow 10px 10px, $colorBlue 20px 20px;
                    }

                }
        
               
        
                .profil{
                    display: flex;
                    width: 100%;
                    margin: 70px 0;
                    justify-content: space-between;
                    flex-direction: column;
        
        
                    .profil-bloc{
                        display: flex;
                        width: 100%;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
        
        
                        .profil-nav{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            
                            
                            .profil-header{
                                padding: 5px 10px;
                                border: solid #129abc2f;
                                margin: 0 5px 10px 5px;
                                border-radius: 100px;
                                text-align: center;
                                cursor:pointer;
                                font-size:0.9em;
                            }
        
                            .profil-header:hover{
                                border: solid $colorBlue;
                            }
        
                            .active-header{
                                display: flex;
                                background-color: $colorBlue;
                                color: white;
                                border: solid $colorBlue;
                            }
                        }
        
                        .profil-content{
                            display: flex;
                            width: 100%;

                            .profil-info{
                                display: none;
                            }
        
                            .technos{
                                display: flex;
                                margin-top: 20px;
                                width: 100%;
                                height: 100%;
                                justify-content: space-around;
                                align-items: center;


                                .profil-info-conteneur{
                                    display: flex;
                                    .skills{
                                        display: flex;
                                        margin: 0 5px;
                                        flex-direction: column ;
                                        height: fit-content;

                                        .skills-title{
                                            font-weight: 550;
                                            margin-bottom: 8px;
                                            text-align: center;
                                        }
            
                                        .images-logo{
                                            display: flex;
                                            flex-direction: column;
                                            background-color: $colorYellow;
                                            box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 8px;
                                            border-radius: 5px;

                                            div{
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: center;
                                                align-items: center;
                                                margin: 10px 20px;            
                                                img{
                                                    width: 35px;
                                                    height: 35px;
                                                }
                                                span{
                                                    text-align: center;
                                                    font-size: 0.9em;
                                                }
                                            }
                                        }
                                    }
                                }

                                
                            }
        
                            .formation{
                                width: 100%;
                                position: relative;
                                margin-top: 20px;
                                //display: flex;
                                justify-content: center;
                                align-items: flex-start;
                                
                                img{
                                    width: 80px;
                                    height: 80px;
                                    margin-right: 20px;
                                }
                                
                                .formation-conteneur{
                                    .formation-element{
                                        display: flex;
                                        flex-direction: column;
                                        position: relative;
                                        
                                        padding: 0px 40px;
                                        margin: 0 0 20px 0;
            
                                        span{
            
                                            fa-icon{
                                                margin-right: 5px;
                                            }
                                        }
            
                                        .formation-title{
                                            font-weight: bold;
                                        }
            
                                        .formation-description{
                                            margin-top: 5px;
                                        }
            
                                    }
                                }

                                .formation-element::after {
                                    content: '';
                                    position: absolute;
                                    width: 15px;
                                    height: 15px;
                                    left: 0;
                                    background-color: $colorYellow;
                                    top: 0;
                                    border-radius: 50%;
                                    z-index: 1;
                                }
                            }
                        }
                    }
                }
            }
        }

        .services{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $colorBlue;
            background-color: $colorBlue;
            overflow: hidden;
            position: relative;
            padding-top: 100px;
            background-image: url("../../../assets/img/services-bg.png");

            #wave-top{
                position:absolute;
                left:0;
                top: -2px;
            }

            #wave-bottom{
                position:absolute;
                left:0;
                bottom: -2px;
            }

            .content{
                width: 100%;
                margin: 0 55px;
                height: 100%;
                display: flex;
                flex-direction: column;
                width: 100%;
                color: white;

                .speach{
                    margin: 50px 0;
                    font-size: 1.2em;
                }

                .intro-services{
                    display: flex;
                    justify-content: space-between;
                    margin: 60px 0;
                    padding-bottom: 50px;

                    .intro{
                        width: 40%;
                        display: flex;
                        flex-direction: column;

                        h3{
                            
                            font-weight: bold;
                            font-size: 2em;
                            color: $colorYellow;
                            position: relative;
                            margin-bottom: 25px;
                        }


                        span{
                            font-size: 1.1em;
                            margin-bottom: 10px;
                        }
                    }
    
                    .services-list{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        width: 620px;
    
                        .service{
                            width: 260px;
                            min-height: 300px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin: 0 15px 25px 15px;
                            border-radius: 10px;
                            padding: 20px 15px;
                            color: #f3f3f3;
                            font-size: 0.95rem;
                            cursor: pointer;
                            box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
                            backdrop-filter: blur( 5px );
                            -webkit-backdrop-filter: blur( 4px );
                            border-radius: 10px;
                            border: 1px solid rgb(255 255 255 / 4%);
                            text-align: center;
                            font-size: 0.95em;
                            background: rgb(255 255 255 / 7%);
                            background-position: right;
                            background-size: cover;
                            background-repeat: no-repeat;
                            transition: all 0.4s ease-in-out;

                            &:hover{
                                transform: translateY(-15px);
                                background: #ffffffad ;
                                color: black;

                                p{
                                    color: #141414;
                                }
                            }
    
                            fa-icon{
                                font-size: 3em;
                                color: $colorYellow;
                            }
    
                            .service-title{
                                margin: 20px 0;
                                font-weight: bold;
                                font-size: 1.3em;
                            }

                            p{
                                color: #bdbdbd;
                                font-size: 0.98em;
                            }
                        }
                    }
                }
            }
        }

        .projects{
            
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            color:$colorBlue;
          
            .content{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                .summary{
                    margin: 50px 0 0 0;
                }

                .project-list{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin: 60px 0;

                    .project{
                        width: 300px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 0 10px 60px 10px;
                        background-color: white;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                        border-radius: 5px;
                        overflow: hidden;
                        cursor: pointer;

                        .project-image{
                            width: 100%;
                            height: 200px;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .project-title{
                            font-weight: bold;
                            font-size: 1.3em;
                            margin: 20px 0 10px 0;
                        }

                        .project-summary{
                            margin: 0 10px 10px 10px;
                            text-align: center;
                            font-size: 0.9em;
                            font-weight: 350;
                        }
                        
                        button{
                            padding: 6px 22px;
                            border-radius: 100px;
                            margin: 10px 0 20px 0;
                            border: none;
                            cursor: pointer;
                            font-size: 0.9em;
                            background-color: white;
                            font-size: 0.8em;
                            box-shadow: 4px 5px 6px -1px #00000086;
                        }
            
                        

                    }

                    .project:hover{
                        box-shadow: #ffcc009e 0px 2px 8px;

                        img{

                            object-fit: cover;
                            transform: scale(1.2,1.3);
                            transition: all 0.3s ease-in-out;
                        }

                        button{
                            color: white;
                            background-color: #363636 ;
                            transition: all 0.3s ease 0s;
                        }

                        button:hover{
                            color: $colorYellow;
                            background-color: $colorBlue ;
                            transition: all 0.5s ease 0s;
                            box-shadow: 4px 5px 6px -1px #129BBC;

                        }
                    }
                }

            }
        }

        .contact{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            color: $colorBlue;
         
            .content{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;

                > span:nth-child(2){
                    margin: 50px 0 5px 0;
                    font-size: 1.2em;
                    font-weight: 900;
                }
        
                > span:nth-child(3){
                    margin: 5px 0 50px 0;
                    font-size: 1.2em;
                }
        
                .contact-info{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin-bottom: 60px;    
            
                    .personal-id{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        border-radius: 10px;
                        background-color: #dddddd;
                        width: 20%;
                        .tel, .mail{
                            display: flex;
                            flex-direction: column;
                            margin: 20px 0;
                            align-items: center;
            
                            .img-bloc{
                                border-radius: 50%;
                                width: 50px;
                                height: 50px;
                                background-color: #00011e;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: $colorYellow;
                                font-size: 1.6em;
                                margin: 0 0 3px 0;
                            }
        
                            .text-bloc{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
        
                                .titles{
                                    font-size: 1.4em;
                                    margin: 0 0 3px 0;
                                    font-weight: lighter;
                                }
                                .text{
                                    font-weight: 500;
                                    font-size: 0.85em;
                                }
                            }
        
                        }
                    }
        
                    form{
                        width: 70%;
                        background-color: #dddddd;
                        padding: 50px 33px;
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
        
                        .invalid-feedback{
                            color: $colorRed;
                            font-size: 0.9em;
                            position: relative;
                            left: 10px;
                            margin: 2px 0 5px 0;
                        }
        
                        .name-email{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
        
                            .name-bloc,.email-bloc{
                                width: 45%;
                                position: relative;
        
                                #name-input, #email-input{
                                    height: 40px;
                                    width: 100%;
                                    border: none;
                                    border-radius: 100px;
                                    padding: 0 20px;
                                    
                                    outline: none;
                                }
        
                                #name-input:not(:placeholder-shown) + .label-id,
                                #email-input:not(:placeholder-shown) + .label-id
                                {
                                    transform: translate(0, -50%);
                                    opacity: 1;
                                    color: $colorBlue;
                                }
        
                                .label-id{
                                    left: 20px;
                                    position: absolute;
                                    top: 0;
                                    opacity: 0;
                                    transition: all 0.2s;
                                }
                            }
        
                            
                        }
                        .objet-bloc{
                            width: 100%;
                            height: 40px;
                            position: relative;
                            margin-top: 20px;
        
                            #objet-input{
                                height: 100%;
                                width: 100%;
                                border: none;
                                border-radius: 100px;
                                padding: 0 20px;
                                outline: none;
                            }
        
                            #objet-input:not(:placeholder-shown) + .label-id
                            {
                                transform: translate(0, -50%);
                                opacity: 1;
                                color: $colorBlue;
                            }
        
                            .label-id{
                                left: 20px;
                                position: absolute;
                                top: 0;
                                opacity: 0;
                                transition: all 0.2s;
                            }
                        }
        
                        .message-bloc{
                            width: 100%;
                            height: 200px;
                            position: relative;
                            margin-top: 20px;
        
                            #message-area{
                                height: 100%;
                                width: 100%;
                                border: none;
                                border-radius: 10px;
                                padding: 10px 20px;
                                outline: none;
                                resize: none;
        
                            }
        
                            #message-area:not(:placeholder-shown) + .label-id
                            {
                                transform: translate(0, -50%);
                                opacity: 1;
                                color: $colorBlue;
                            }
        
                            .label-id{
                                left: 20px;
                                position: absolute;
                                top: 0;
                                opacity: 0;
                                transition: all 0.2s;
                            }
                        }
        
        
                    }
        
                    button{
                        display: flex;
                        justify-content:center;
                        align-items:center;
                        height: 33px;
                        width: 130px;
                        border-radius: 100px;
                        margin-top: 30px;
                        border: none;
                        cursor: pointer;
                        font-size: 1rem;
                        background-color: white;

                        p-progressSpinner{
                            height: 20px !important;
                            width: 20px !important;
                        }
                    }
        
                    button:hover{
                        color: $colorYellow;
                        background-color: $colorBlue ;
                        transition: all 0.5s ease 0s;
                
                    }
                
                }
        
            }
            
        }

}


@media all and (max-width: 1150px){
    .app{

        .hero{
            .content{

                .text-network-content{
                    .text-network{

                        .greetings{
                    
                            font-size: 1.2rem;
                            font-weight: 330;  
                        }
                        .name{
                            font-weight: 700;
                            font-size: 2.5rem;
                        }
                    
                        .work{
                            display: flex;
                            font-size: 1.2rem;
                            margin-top: 5px;
                            font-weight: 330;
                    
                            #typewriter{
                                color: $colorYellow;
                                margin-left: 5px;
                                font-weight: 500;
                                font-size: 1.3rem;

                            }
                            
                        }

                    button{
                        margin-top: 10px;
                    }

                    }
                }
                .hero-image{
                    width: 320px;
                }

            }
        }
    }

}

@media all and (max-width: 1095px){
    .app{

        .services{  
            
            .content{
                        
                .intro-services{
                    flex-direction: column;
                    justify-content: center;

                    .intro{
                        width: 100%;
                        margin: 50px 0;
                        align-items: center;
                    }

                    .services-list{
                        width: 100%;
                    }

                }
      
            }
        }
    }

}

@media all and (max-width: 1024px){
    .app{

        .about{  
            
            .content{
                        
                .text-image{
                    flex-direction: column;
                    margin: 50px 0 20px 0;
        
                    .text{

                        font-size: 1.05em;
                        margin-left: 0;
        
                        span{
                            text-align: justify;
                            margin-top: 5px;
                        }
                    }

                    img{
                    
                        margin-bottom: 80px;

                    }

                }
        
            }
        }
    }

}


@media all and (max-width: 880px){
    .app{

        .hero{
            .content{

                flex-direction: column-reverse;
                justify-content: center;

                .text-network-content{

                    margin: 50px 0 150px 0;

                    .text-network{

                        display: flex;
                        flex-direction: column;

                        .greetings{
                    
                            font-size: 1.3rem;
                            font-weight: 330;  
                        }
                        .name{
                            font-weight: 700;
                            font-size: rem;
                        }
                    
                        .work{
                            display: flex;
                            font-size: 1.3rem;
                            margin-top: 5px;
                            font-weight: 330;
                    
                            #typewriter{
                                color: $colorYellow;
                                margin-left: 5px;
                                font-weight: 500;
                                font-size: 1.5rem;

                            }
                            
                        }

                        

                
                        button{
                            padding: 6px 25px;
                            width: fit-content;
                            font-size: 1.1em;

                            margin: 0 auto;
                            margin-top: 20px;

                            a{
                                text-decoration: none;
                                margin-right: 10px;
                            }
                    
                        }
                    
                        button:hover{
                            background-color: $colorBlue ;
                            transition: all 0.5s ease 0s;
                            color: $colorYellow;

                            a{
                                color: $colorYellow;
                            }
                        }

                    }
                }
                .hero-image{
                    margin-top: 150px;
                }

            }
        }

        .services{  
            
            .content{
                        
                .intro-services{

                    .intro{

                        h3{
                            font-size: 1.5em;
                        }
                    }

                }
      
            }
        }

        .contact{
         
            .content{
        
        
                .contact-info{
                    flex-direction: column;
            
                    .personal-id{
                        flex-direction: row;
                        width: fit-content;
                        border-radius: 5px;
                        margin-bottom: 30px;

                        .tel, .mail{
    
                            margin: 20px;
            
                            .img-bloc{
                                font-size: 1.4em;
                            }
        
                            .text-bloc{
        
                                .titles{
                                    font-size: 1.1em;
                                }
                                .text{
                                    font-weight: 540;
                                    font-size: 0.9em;
                                }
                            }
        
                        }
                    }
        
                    form{
                        width: 100%;        
                    }
                
                }
        
            }
            
        }
    }

}


@media all and (max-width: 550px){
    
    .app{

        .hero{
            .content{

                .text-network-content{

                    
                    
                    .text-network{
                        padding: 15px;
                        max-width: 369px;

                        .greetings{
                            font-size: 1.2rem;
                        }

                        .name{
                            font-size: 2.3rem;
                        }
                    
                        .work{
                            font-size: 1.2rem;
                    
                            #typewriter{
                                font-size: 1.4rem;
                            }
                            
                        }

                        button{
                            font-weight: 510;
                        }

                        .networks{

                            .network-icon{

                                margin-top: 15px;
                            }

                        }

                    }
                }
                .hero-image{
                    width: 270px;
                }

            }
        }

        .about{  
            
            .content{
                        
                .text-image{
                    flex-direction: column;
                    margin: 50px 0 20px 0;
        
                    .text{

                        font-size: 1.05em;
                        margin-left: 0;
        
                        span{
                            text-align: justify;
                            margin-top: 5px;
                        }
                    }

                    img{
                    
                        width: 200px;
                        height: 120px;
                        margin-bottom: 80px;

                    }

                }
        
               
        
                .profil{
        
                    .profil-bloc{
        
                        .profil-content{
        
                            .technos{

                                .profil-info-conteneur{
                                    flex-direction: column;

                                    .skills{
                                        margin: 10px 0;
                                        align-items: center;

                                        .skills-title{
                                            font-weight: bold;
                                            margin-bottom: 5px;
                                        }
            
                                        .images-logo{
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                            width: 100%;
                                            flex-wrap: wrap;
                                            
                                        }
                                    }
                                }

                                
                            }
        
                            .formation{

                                justify-content: flex-start;
                                width: 100%;
                                
                                img{
                                    display: none;
                                }
                                
                                .formation-conteneur{
                                    .formation-element{
                                        padding: 0;
                                    }
                                }

                                .formation-element::after {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .services{

            .content{
                .speach{
                    font-size: 1.05em;
                }
            }

        }

        .contact{
         
            .content{
        
                .contact-info{

                    .personal-id{
 
                        background-color: inherit;
                        flex-direction: column;
                        
                        .tel, .mail{
                            margin: 20px 0;
        
                        }
                    }
        
                    form{

                        padding: 10px 10px 30px 10px;
                        border-radius: 5px;
                        

                        .name-email{

                            flex-direction: column;
        
                            .name-bloc,.email-bloc{
                                width: 100%;
                                margin-top: 20px;

                                #name-input, #email-input{
                                    height: 40px;
                                    width: 100%;
                                    border-radius: 5px;
                                    padding: 0 10px;
                                    
                                }
        
                                #name-input:not(:placeholder-shown) + .label-id,
                                #email-input:not(:placeholder-shown) + .label-id
                                {
                                    transform: translate(0, -50%);
                                    opacity: 1;
                                    color: $colorBlue;
                                }
        
                                .label-id{
                                    left: 20px;
                                    position: absolute;
                                    top: 0;
                                    opacity: 0;
                                    transition: all 0.2s;
                                }
                            }
        
                            
                        }
                        .objet-bloc{
        
                            #objet-input{
                                border-radius: 5px;
                                padding: 0 10px;
                            }

                        }
        
                        .message-bloc{

        
                            #message-area{
                                border-radius: 5px;
                                padding: 10px 10px;
                            }
                        }
        
                    }
                
                }
        
            }
            
        }

    }
}

@media all and (max-width: 425px){
    .app{

        .hero{
            .content{

                .text-network-content{

                    margin: 20px 0 100px 0;

                    .text-network{

                        padding: 15px 10px;
                        .name{
                            font-size: 2.05rem;

                            
                        }


                        .i-do{
                            font-size: 0.9em;
                            text-align: justify;
                        }



                    }
                }
            }
        }
    }

}


@media all and (max-width: 330px){
    .app{

        .hero{
            .content{

                .text-network-content{
                    .text-network{

                        .name{
                            font-size: 1.9rem;
                        }

                        .work{

                            #typewriter{
                                font-size: 1.1em;
                            }
                        }

                    }
                }
            }
        }
    }

}
