<div class="home">
    <div class="images-medias">
        <img class="nav-image" src="../../../assets/img/moi.jpeg" alt="image de Samuel Mandeng"/>
        <div class="medias">
            <img src="../../../assets/img/linkedin.png" alt="logo of linkedin" >
            <img src="../../../assets/img/instagram.png" alt="logo of instagram">
            <img src="../../../assets/img/github.png" alt="logo of github">
        </div>
    </div>
    <span class="greetings">Salut, je m'appelle <span class="name"> Samuel Mandeng</span></span>
    <div class="work"> 
        <span>je suis un </span>
        <ul>
            <li>Développeur Web</li>
            <li>Web Designer</li>
        </ul>
    </div>
    <button routerLink="/a-propos"> À Propos </button>

    
</div>