<div class="projects">
    <div class="content">
        <span class="title">Mes Réalisations</span>
        <div class="project-list">
            <div class="project">
                <img src="../../../assets/img/sscovid19.png" alt="miniature de mon projet sscovid19" />
                <span class="text-title">Sscovid19</span>
                <span class="description-text">C'est un site web qui permet de suivre l'évolution de l'épidémie de la covid-19 dans le monde</span>
                <button>Voir plus</button>
            </div>


            <div class="project">
                <img src="../../../assets/img/ev.png" alt="miniature de mon projet sscovid19" />
                <span class="text-title">Elites Voyages</span>
                <span class="description-text">C'est un site web qui permet de suivre l'évolution de l'épidémie de la covid-19 dans le monde</span>
                <button>Voir plus</button>
            </div>

            <div class="project">
                <img src="../../../assets/img/sscovid19.png" alt="miniature de mon projet sscovid19" />
                <span class="text-title">Cazabreizh</span>
                <span class="description-text">C'est un site web qui permet de suivre l'évolution de l'épidémie de la covid-19 dans le monde</span>
                <button>Voir plus</button>
            </div>
        </div>
    </div>

</div>