<div class="projects">
    <div class="content">
        <span class="title">Mes Réalisations</span>
        <div class="project-list">
            <div class="project">
                <img src="../../../assets/img/sscovid19.png" alt="miniature de mon projet sscovid19" />
                <span class="text-title">Sscovid19</span>
                <span class="description-text">Réalisation d'une application web qui permet de suivre l'évolution de l'épidémie de la covid-19 dans le monde</span>
                <button (click)='goOnSscovid()'>Voir plus</button>
            </div>


            <div class="project">
                <img src="../../../assets/img/ev.png" alt="miniature du site web elites voyage" />
                <span class="text-title">Elites Voyages</span>
                <span class="description-text">Réalisation du site web d'Elites Voyages, agence de voyage, de tourisme, de transport et de logistique </span>
                <button (click)="goOnElites()">Voir plus</button>
            </div>

            <div class="project">
                <img src="../../../assets/img/casabreizh/casabreizh.png" alt="miniature du site web casabreizh" />
                <span class="text-title">Casabreizh</span>
                <span class="description-text">Réalisation du site web du restaurant Casabreizh, lanterne de la gastronomie africaine et bretonne</span>
                <button (click)="goOnCasa()">Voir plus</button>
            </div>

        </div>
    </div>

</div>