.services{
    margin: 0 0 0 300px;
    min-height: 100vh;
    width: calc(100vw - 300px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #D8D8D8;
    color: #363636;

    .content{
        width: 100%;
        margin: 0 55px;
        height: 100%;
        display: flex;
        flex-direction: column;
    
        .title{
            font-size: 1.9em;
            font-weight: bold;
            padding: 30px 0 10px 0;
            position: relative;

        }
    
        .title::before{
            content: "";
            position: absolute;
            width: 5%;
            height: 1px;
            bottom:0;
            border-bottom: 4px solid #00CEFF;
        }

        .speach{
            margin: 50px 0;
            font-size: 1.2em;
        }
        .services-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 60px 0;

            .service{
                width: 250px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 25px 50px 25px;
                background-color: #F2F2F2;
                border-radius: 10px;
                box-shadow: 4px 5px 6px -1px #363636;
                padding: 20px 5px;

                fa-icon{
                    font-size: 3em;
                    color: #00CEFF;
                }

                .service-title{
                    margin: 20px 0;
                    font-weight: bold;
                    font-size: 1.3em;

                }

                ul{
                    
                    margin: 5px 5px;
                    width: 100%;
                    list-style-position: inside;
                }
            }
        }
    }
}

@media all and (max-width: 1012px){
    .services{
        margin: 0 0 0 100px;
        width: calc(100vw - 100px);
    }

}


@media all and (max-width: 689px){
    .services{
        
        .content{
            margin: 0 23px;
        }
    }

}

@media all and (max-width: 675px){
    .services{
        margin: 0 0 0 60px;
        width: calc(100vw - 60px);
    }

}