<div class="services">
    <div class="content">
        <span class="title">Services</span>
        <span class="speach">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptatum aperiam distinctio quis non maiores cumque ullam perspiciatis unde placeat. Eos eligendi fugit accusantium reiciendis sit sunt labore sequi quos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptatum aperiam distinctio quis non maiores cumque ullam perspiciatis unde placeat. Eos eligendi fugit accusantium reiciendis sit sunt labore sequi quos!</span>
        <div class="services-list">
            <div class="service">
                <fa-icon [icon]=faLaptop></fa-icon>
                <span class="service-title">Web Designer</span>
                <ul>
                    <li>Développment Front End</li>
                    <li>Développement Back End</li>
                    <li>Modélisation de base de donnéees</li>
                </ul>
            </div>
            <div class="service">
                <fa-icon [icon]=faCode></fa-icon>
                <span class="service-title">Développeur Web</span>
                <ul>
                    <li>Développment Front End</li>
                    <li>Développement Back End</li>
                    <li>Modélisation de base de donnéees</li>
                </ul>
            </div>
        </div>
    </div>
</div>