$fontcolor : #363636;

.elites{
    margin: 0 0 0 300px;
    width: calc(100vw - 300px);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #D8D8D8;
    color: $fontcolor;

    .content{
        width: 100%;
        margin: 0 55px;
        height: 100%;
        display: flex;
        flex-direction: column;
    
        .back-button{
            width: fit-content;
            padding: 5px 25px;
                border-radius: 100px;
                margin: 20px 0 30px 0;
                border: none;
                cursor: pointer;
                font-size: 1em;
                background-color: white;
                color:  #363636;
                box-shadow: 4px 5px 6px -1px #363636;

            fa-icon{
                margin-right: 8px;
            }

        }

        .back-button:hover{

                color: #129BBC;
                font-weight: bold;

            

        }



        .description{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img{
                width: 300px;
                height: 180px;
                margin-bottom: 30px;
            }

            .description-title{
                margin-bottom: 30px;
                
                font-weight: bold;
                font-size: 1.6em;
            }

            span{
                width: 100%;
            }

            span:nth-child(4){
                margin-top: 10px;
            }

            ul{
                margin-top: 15px;
                list-style-position: inside;
                position: relative;
                width: 100%;
            }

            button{

                padding: 5px 25px;
                border-radius: 100px;
                margin: 50px 0 ;
                border: none;
                cursor: pointer;
                font-size: 1em;
                background-color: white;
                color:  #363636;
                box-shadow: 4px 5px 6px -1px #363636;

           
            }

            button:hover{
                color: white;
                background-color: #363636 ;
                transition: all 0.5s ease 0s;
                box-shadow: 4px 5px 6px -1px #129BBC;

            }
        }

        .technos-bloc{
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-bottom: 20px;

            .title{
                margin-bottom: 30px;
                font-weight: bold;
                font-size: 1.6em;
            }

            .technos{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
               
                .techno{
                    margin: 15px 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    & img{
                        width: 80px;
                        height: 80px;
                    }

                }
            }
        }

    }
}


@media all and (max-width: 1012px){
    .elites{
        margin: 0 0 0 100px;
        width: calc(100vw - 100px);
    }
}

@media all and (max-width: 882px){
    .elites{

        .content{

            .organisation{
                .video{

                    height: 220px;
                    vg-player{
                        width: 100%;
                    }
                }
            }
        }
        

    }
}


@media all and (max-width: 689px){
    .elites{
        .content{
            margin: 0 23px;
        }
    }

}

@media all and (max-width: 675px){
    .elites{
        margin: 0 0 0 60px;
        width: calc(100vw - 60px);

        .content{

            .back-button{
                padding: 2px 15px;
                font-size: 0.95em;
            }

            .description{

                img{
                    width:200px;
                    height: 120px;
                }

                button{
                    padding: 2px 15px;
                    font-size: 0.95em;
                }
            }
        }
    }

}
