<div class="navigation">

    <div class="images-medias">
        <img class="nav-image" src="../../../assets/img/moi.jpeg" alt="image de Samuel Mandeng"/>
        <span class="name">Samuel Mandeng</span>
        <div class="medias">
            
            <a href="https://www.linkedin.com/in/bonachisamuel" aria-label="Github" rel="noopener" target="_blank"><div></div></a>
            <a href="https://www.instagram.com/zrotof_" aria-label="Instagram" rel="noopener" target="_blank"> <div></div></a>
            <a href="https://github.com/zrotof" aria-label="Github" rel="noopener" target="_blank"><div></div></a>
        
        </div>
    </div>

    <div class="burger" (click)="onBurgerMenu()">
        <input type="checkbox" />
    
        <span></span>
        <span></span>
        <span></span>
    </div>

    <nav>
        <ul>
            <li><a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" routerLink="/accueil" ><fa-icon [icon]="faHome"></fa-icon><span>Accueil</span></a></li>
            <li><a routerLinkActive="active-link" routerLink="/a-propos"><fa-icon [icon]="faUserAlt"></fa-icon><span>A Propos</span></a></li>
    <!--    <li><a routerLinkActive="active-link" routerLink="/services"><fa-icon [icon]="faListAlt"></fa-icon><span>Services</span></a></li> -->
            <li><a routerLinkActive="active-link" routerLink="/réalisations"><fa-icon [icon]="faSuitcase"></fa-icon><span>Réalisations</span></a></li>
            <li><a routerLinkActive="active-link" routerLink="/contact"><fa-icon [icon]="faEnvelope"></fa-icon><span>Contactez-moi</span></a></li>
        </ul>
    </nav>


    <span class="copyright">
        © Samuel Mandeng, tous droits réservés
    </span>
</div>